.submitclass{
    width: 100%;
    margin: 10px 3px 3px 0px;
}
.usernameclass{
    margin: 5px 0 0 0px;
    padding: 1px 2px 6px 2px;
}
.passwordclass{
    margin: 16px 3px 3px 0px;
    padding: 1px 2px 6px 2px;
}
.orInner{
    margin: 0 0 0 100px;
 
}
.googleBtn{
    margin: 0 0 0 -18px;
}

.logincontainer{
    padding: 100px 3px 3px 0px;
}