<div class="container logincontainer">
  <div class="d-flex justify-content-center h-100">
  <div class="card">
    <div class="card-header">
    <div class="authBlock">
      <h3>Sign In</h3>
    </div>
      <div class="formGroup">
        <input type="text" class="formControl usernameclass" placeholder="Username" #userName required>
      </div>

      <div class="formGroup">
        <input type="password" class="formControl passwordclass" placeholder="Password" #userPassword required>
      </div>

      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <input type="button" class="btn btn-primary submitclass" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>

      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn" >
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div>

      <div class="forgotPassword">
        <a [routerLink]="['/reset-password']" class="btn btn-link">Forget Password</a>
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Don't have an account?<span class="redirect" [routerLink]="['signup']"> Sign Up</span></span>
    </div>

  </div>
</div>
</div>


